body{
  background-color: darkcyan;
  color: black;
  overflow: hidden;
}

h1,h3{
  text-align: center;
}
#TagLine{
  margin-bottom: 50px;
}

.todo-wrapper{
  background-color: whitesmoke;
  padding: 2%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(26, 25, 25);
 
}
.TodoSearch-Input{
  width: 30%;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  outline: 2px solid rgb(14, 210, 207);
  
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(77, 77, 77);
  padding-bottom: 25px;
  margin-bottom: 25px;

}
.TodoSearch-Button{
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 50%;
}

.todo-input-item{
  margin-top: -3rem;
  margin-right: 25px;
  padding: 10px;
}

.todo-input-item input {
  border: none;
  padding: 8px;
  width: 250px;
  margin-right: 15px;
}

.todo-input-item input:focus{
  outline: 2px solid rgb(14, 210, 207);
}

.primary-btn{
  background-color: rgb(14, 210, 207);
  color: white;
  border-radius: 0px;
  border: none;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primary-btn:hover{
  background-color: rgb(137, 10, 10);
}

.btn-area{
  margin-bottom: 10px;
}


.secondaryBtn{
  margin-right: 10px;
  background-color: rgb(92, 92, 92);
  color: white;
  border-radius: 0px;
  border: none;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.btn-area .active{
  background-color: rgb(14, 210, 207);
}

.todo-list{
  grid-template-columns: max-content;
}

.todo-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414040;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgb(39, 38, 38);
}

.todo-list-item h3{
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0px; 
}

.todo-list-item p{
  margin-top: 8px;
  font-size: 14px;
  color: rgb(179, 178, 178);

}

.icon{
  font-size: 35px;
  cursor: pointer;
}

.icon:hover{
  color: red;

}

.check-icon{
  font-size: 22px;
  cursor: pointer;
  color: rgb(0, 230, 122);
  margin-left: 10px;
  margin-bottom: 5px;
}

.check-icon:hover{
  color: rgb(4, 192, 104);
}
